<header class="masthead" id="page-top">
    <div class="container text-left IRMS-style">
        <div class="masthead-style1">IRMS</div>
        <div class="masthead-style2">智慧回收媒合平台</div>
        <div class="masthead-style3">廢棄物的環保經紀人</div>
        <!-- masthead-subheading 斜字體 -->
        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
    </div>
    <!-- <div class="container">
        <div class="carousel slide" data-ride="carousel" id="carousel-demo">
             <ol class="carousel-indicators">
               <li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-demo" data-slide-to="1"></li>
               <li data-target="#carousel-demo" data-slide-to="2"></li>
             </ol>
           <div class="carousel-inner">
             <div class="carousel-item active">
               <img class="d-block w-100" src="http://placehold.it/900x350" alt="">
             </div>
             <div class="carousel-item">
               <img class="d-block w-100" src="http://placehold.it/900x350" alt="">
             </div>
             <div class="carousel-item">
               <img class="d-block w-100" src="http://placehold.it/900x350" alt="">
             </div>
           
             <a href="#carousel-demo" class="carousel-control-prev" data-slide="prev">
             <span class="carousel-control-prev-icon"></span>
             </a>
             <a href="#carousel-demo" class="carousel-control-next" data-slide="next">
               <span class="carousel-control-next-icon"></span>
             </a>
           </div>
         </div>
     </div> -->
    <!-- <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>     -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- 以下是 slider 下方的指示器 -->
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <!-- 以下是 slider 中的影像圖片區 -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <!-- 下方 div 是標題說明區 -->
            <!-- <div class="carousel-caption d-none d-md-block">
              <h3>The Quest of Watchmakers</h3>
              <p>Constant Escapement L.M.</p>
              <p>Constancy (in the sense of constant force) is a permanent quest for watchmakers. At Girard-Perregaux, this horological ‘holy grail’ has become a reality. Presented in 2008, the Constant Escapement revolutionised the very foundations of chronometry.</p>
              <p>Ten years after this major breakthrough that won the prestigious “Aiguille d’Or” award in the Grand Prix d’Horlogerie de Genève, Girard-Perregaux introduces a new Constant Escapement L.M. model featuring a design that is more technical and contemporary than ever.</p>
            </div> -->
          </div>
          <div class="carousel-item">
            <!-- 下方 div 是標題說明區 -->
            <!-- <div class="carousel-caption d-none d-md-block">
              <h3>Grand Prix d'Horlogerie de Genève</h3>
              <p>La Esmeralda Tourbillon</p>
              <p>As the successor to the 27 Tourbillons with Three Bridges registered by Girard-Perregaux from 1865 to 1911, the Esmeralda Tourbillon tells the story of a passion for aesthetics and accuracy. The heiress to the pocket-watch La Esmeralda was granted the prize of the Tourbillon during the ceremony of the GPHG 2016.</p>
            </div> -->
          </div>
          <div class="carousel-item">
            <!-- 下方 div 是標題說明區 -->
            <!-- <div class="carousel-caption d-none d-md-block">
              <h3>Grand Prix d'Horlogerie de Genève</h3>
              <p>The Cat's Eye Tourbillon with Gold Bridge</p>
              <p>The Cat’s Eye Tourbillon with Gold Bridge is a perfect fusion of expertise in both watchmaking and jewellery. « It is an honor to be rewarded with two prizes distinguishing our know-how in Haute Horlogerie in both categories Ladies High Mech and Tourbillon.» stated Antonio Calce, CEO of Girard-Perregaux.</p>
            </div> -->
          </div>
        </div>
        <!-- 以下是 slider 左右方向的控制區 -->
        <a class="carousel-control-prev" data-target="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" data-target="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</header>
